*{
    font-family: 'Salsa';
    margin: 0;
    
}

/* navbar */

nav{
    display: flex;
    justify-content: space-between;
    padding: 20px 250px 20px 40px;
    align-items: center;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

nav .links{
    display: flex;
    gap: 60px;
    outline: none;
}

nav .links div a{
    text-decoration: none ;
    color: black;
    font-size: 18px;
}

/* search form */

.search-form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 60px;
}

.search-form .input input{
    margin-top: 10px;
    width: 450px;
    height: 25px;
}

.search-form .input-title{
    font-size: 22px;
}

/* cocktail */

.cocktail .image img{
    width: 250px;
    height: 300px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.cocktail{
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    width: 250px;
    border-radius: 15px;
    margin-top: 40px;
}

.cocktail .text{
    padding: 10px;
}

.cocktail .text h4{
    margin-bottom: 10px;
}

.cocktaillist{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 0px 100px 0px 200px;
    gap: 30px;
}

/* Single Cocktail */

.singlecocktail .image img{
    width: 350px;
    height: 400px;
}

.singlecocktail .text{
    width: 350px;
}

.singlecocktail{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
}

.singlecocktail button{
    margin: 30px 0px 10 px 0px;
}

.singlecocktail .text span{
    background-color: rgb(157, 214, 157);
    border-radius: 10px;
    padding: 4px;
    color: rgb(1, 48, 1);
}

.singlecocktail .text {
    display: flex;
    gap: 20px;
    flex-direction: column;
}


/* loading */

.loading{
    margin: 100px 0px 100px 0px;
    text-align: center;
    font-size: 30px;
}

/* about us page */

.about{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 600px;

}

.text-wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60vh;
    text-align: center;
}