*{
    margin: 0px;
    padding: 0px;
    overflow: hidden;
}

.home{
    display: grid;
    grid-template-columns: 25% 75%;
    grid-template-rows: 20vh 80vh;
    grid-template-areas: 
        'sidebar navbar'
        'sidebar dashboard'
    ;
}

.navbar{
    border: 1px solid black;
    grid-area: navbar;
    width: 100%;
    height: 100%;
} 

.sidebar{
    border: 1px solid black;
    grid-area: sidebar;
}

.dashboard{
    border: 1px solid black;
    grid-area: dashboard;
}